<div class="ibox float-e-margins">

    <div class="ibox-content mailbox-content" style="background-color: #fff">
        <div class="file-manager">
            <a href="#" onclick="return false" ng-click="compose()" class="btn btn-block btn-primary compose-mail">Soạn thư</a>
            <div class="space-25"></div>
            <h5>Folders</h5>
            <ul style="padding: 0" class="folder-list m-b-md">
                <li><a href="#"  onclick="return false" ng-click="inbox()"> <i class="fa fa-inbox "></i> Thư đến <span class="label label-warning pull-right">16</span> </a></li>
                <li><a href="#"  onclick="return false" ng-click="outbox()"> <i class="fa fa-envelope-o"></i> Thư đi </a></li>
                <li><a href="#"  onclick="return false" ng-click="important()"> <i class="fa fa-certificate"></i> Quan trọng </a></li>
                <li><a href="#"  onclick="return false" ng-click="draft()"> <i class="fa fa-file-text-o"></i> Thư nháp <span class="label label-danger pull-right">2</span></a></li>
                <li><a href="#"  onclick="return false" ng-click="trash()"> <i class="fa fa-trash-o"></i> Thùng rác</a></li>
            </ul>
            <h5>Categories</h5>
            <ul style="padding: 0" class="category-list">
                <li><a href="#"> <i class="fa fa-circle text-navy"></i> Work </a></li>
                <li><a href="#"> <i class="fa fa-circle text-danger"></i> Documents</a></li>
                <li><a href="#"> <i class="fa fa-circle text-primary"></i> Social</a></li>
                <li><a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a></li>
                <li><a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a></li>
            </ul>

            <h5 class="tag-title">Labels</h5>
            <ul style="padding: 0" class="tag-list">
                <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
