<div class="col-lg-3" style="padding: 0px;">
    <div class="ibox float-e-margins" style="padding: 0px 5px 5px 5px;">
        <div class="ibox-content" style="padding: 0px; border:1px solid #e7eaec;">
            <div class="carousel slide" id="carousel1">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="image" class="img-responsive" style="width: 100%" src="/avatars/26.jpg">
                        <div style="padding: 5px;">
                            <p>This is simple caption 3</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="image" class="img-responsive" style="width: 100%" src="/avatars/25.jpg">
                        <div style="padding: 5px;">
                            <p>This is simple caption 3</p>
                        </div>
                    </div>
                </div> 
                <a data-slide="prev" href="#carousel1" ng-non-bindable  class="left carousel-control">
                    <span class="icon-prev"></span>
                </a>
                <a data-slide="next" href="#carousel1" ng-non-bindable  class="right carousel-control">
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
    </div>
</div> 

<div id="small-resource" style="right: 100px; bottom: 50px;">
    <button class="btn btn-primary" ng-click="openAddResource()" class="open-resource-chat" style="width: 150px; border-radius: 0px;">
        <i class="fa fa-plus"></i> Thêm tài nguyên
    </button>
</div>

