<div ng-show="user" class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="file-manager">
                                <h5>Trang chủ:</h5>
                                <a ng-show="school.id" class="file-control active" href="http://iskun.net/[[school.slugs.slug]]">http://iskun.net/[[school.slugs.slug]]</a>
                               
                                <div class="hr-line-dashed"></div>

                                <h5>Quản lý</h5>
                                <ul style="padding: 0" class="folder-list">
                                    <li><a href=""><i class="fa fa-folder"></i> Tin tức</a></li>
                                    <li><a href=""><i class="fa fa-folder"></i> Phòng ban</a></li>
                                    <li><a href=""><i class="fa fa-folder"></i> Lớp học</a></li>
                                </ul>
                                <h5 class="tag-title">Tags</h5>
                                <ul style="padding: 0" class="tag-list">
                                    <li><a href="">Family</a></li>
                                    <li><a href="">Work</a></li>
                                    <li><a href="">Home</a></li>
                                    <li><a href="">Children</a></li>
                                    <li><a href="">Holidays</a></li>
                                    <li><a href="">Music</a></li>
                                    <li><a href="">Photography</a></li>
                                    <li><a href="">Film</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>