<div class="col-lg-12 animated fadeInRight"  style="padding: 0px">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox-content text-center">
                <h1><a href="/hvnnvn/thak51">THAK51</a></h1>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="m-b-sm">
                            <img src="/img/a8.jpg" class="img-circle" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-8">

                        <ul class="list-unstyled m-t-md" style="margin-top: 10px;">
                            <li>
                                <span class="fa fa-user m-r-xs"></span>
                                <label>Học sinh:</label>
                                25
                            </li>
                            <li>
                                <span class="fa fa-list m-r-xs"></span>
                                <label>Khóa học:</label>
                                3
                            </li>
                            
                        </ul>

                    </div>
                </div>
                <p class="font-bold"><a href="/hvnnvn">Học viện Nông Nghiệp Việt Nam</a></p>

                <div class="text-right" >
                    <a class="btn btn-xs btn-primary" href="/hvnnvn/thak51"><i class="fa fa-caret-right"></i> Vào lớp</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div ng-show="isAdding==false" id="small-resource" style="right: 100px; bottom: 40px;">
    <button class="btn btn-primary" ng-click="openAddResource()" class="open-resource-chat" style="width: 150px; border-radius: 0px;">
        <i class="fa fa-plus"></i> Thêm lớp học
    </button>
</div>
