<div class="wrapper wrapper-content animated fadeInUp">

                    <div class="ibox">
                        <div class="ibox-title" style="border-width: 1px 0 0; " >
                            <h5>Danh sách đề thi</h5>
                            <div class="ibox-tools">
                                <a class="btn btn-primary btn-xs" href="">Create new project</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row m-b-sm m-t-sm">
                                <div class="col-md-1">
                                    <button class="btn btn-white btn-sm" id="loading-example-btn" type="button"><i class="fa fa-refresh"></i> Refresh</button>
                                </div>
                                <div class="col-md-11">
                                    <div class="input-group"><input type="text" class="input-sm form-control" placeholder="Search"> <span class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" type="button"> Go!</button> </span></div>
                                </div>
                            </div>

                            <div class="project-list">

                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">Contract with Zender Company</a>
                                            <br>
                                            <small>Created 14.08.2014</small>
                                        </td>
                                        <td class="project-completion">
                                                <small>Completion with: 48%</small>
                                                <div class="progress progress-mini">
                                                    <div class="progress-bar" style="width: 48%;"></div>
                                                </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a3.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a1.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a2.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a4.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a5.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">There are many variations of passages</a>
                                            <br>
                                            <small>Created 11.08.2014</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 28%</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="width: 28%;"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a7.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a6.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a3.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-default">Unactive</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">Many desktop publishing packages and web</a>
                                            <br>
                                            <small>Created 10.08.2014</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 8%</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="width: 8%;"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a5.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a3.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">Letraset sheets containing</a>
                                            <br>
                                            <small>Created 22.07.2014</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 83%</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="width: 83%;"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a2.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a3.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a1.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a7.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">Contrary to popular belief</a>
                                            <br>
                                            <small>Created 14.07.2014</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 97%</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="width: 97%;"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a4.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">Contract with Zender Company</a>
                                            <br>
                                            <small>Created 14.08.2014</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 48%</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="width: 48%;"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a1.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a2.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a4.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a5.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">There are many variations of passages</a>
                                            <br>
                                            <small>Created 11.08.2014</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 28%</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="width: 28%;"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a7.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a6.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a3.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-default">Unactive</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">Many desktop publishing packages and web</a>
                                            <br>
                                            <small>Created 10.08.2014</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 8%</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="width: 8%;"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a5.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a3.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">Letraset sheets containing</a>
                                            <br>
                                            <small>Created 22.07.2014</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 83%</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="width: 83%;"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a2.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a3.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a1.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">Contrary to popular belief</a>
                                            <br>
                                            <small>Created 14.07.2014</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 97%</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="width: 97%;"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a4.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">There are many variations of passages</a>
                                            <br>
                                            <small>Created 11.08.2014</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 28%</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="width: 28%;"></div>
                                            </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img src="/img/a7.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a6.jpg" class="img-circle" alt="image"></a>
                                            <a href=""><img src="/img/a3.jpg" class="img-circle" alt="image"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-folder"></i> View </a>
                                            <a class="btn btn-white btn-sm" href="#"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>