<div class="ibox float-e-margins">
                                    <div class="col-md-12 ibox-content" style="padding: 10px !important;" >

                                        <div class="profile-image" style="width: 100px !important;">
                                            <img alt="profile" class="img-circle circle-border" src="img/a4.jpg"> 
                                        </div>
                                        <div class="profile-info" style="margin-left: 100px; padding-top: 10px;">
                                            <div class="">
                                                <div>
                                                    <h2 class="no-margins">
                                                        Lưu Anh Quyền
                                                    </h2>
                                                    <h4>Học viện Nông Nghiệp Việt Nam</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content border-left-right" style="padding: 10px 15px 5px 15px !important">
                                        <h4><strong>Trang chủ</strong></h4>
                                    </div>

                                    <div class="ibox-content">
                                        <div class="file-manager">
                                            <h5>Show:</h5>
                                            <a class="file-control active" href="#">Ale</a>
                                            <a class="file-control" href="#">Documents</a>
                                            <a class="file-control" href="#">Audio</a>
                                            <a class="file-control" href="#">Images</a>
                                            <div class="hr-line-dashed"></div>
                                            <button class="btn btn-primary btn-block">Upload Files</button>
                                            <div class="hr-line-dashed"></div>
                                            <h5>Folders</h5>
                                            <ul style="padding: 0" class="folder-list">
                                                <li><a href=""><i class="fa fa-folder"></i> Files</a></li>
                                                <li><a href=""><i class="fa fa-folder"></i> Pictures</a></li>
                                                <li><a href=""><i class="fa fa-folder"></i> Web pages</a></li>
                                                <li><a href=""><i class="fa fa-folder"></i> Illustrations</a></li>
                                                <li><a href=""><i class="fa fa-folder"></i> Films</a></li>
                                                <li><a href=""><i class="fa fa-folder"></i> Books</a></li>
                                            </ul>
                                            <h5 class="tag-title">Tags</h5>
                                            <ul style="padding: 0" class="tag-list">
                                                <li><a href="">Family</a></li>
                                                <li><a href="">Work</a></li>
                                                <li><a href="">Home</a></li>
                                                <li><a href="">Children</a></li>
                                                <li><a href="">Holidays</a></li>
                                                <li><a href="">Music</a></li>
                                                <li><a href="">Photography</a></li>
                                                <li><a href="">Film</a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>