<div class="social-feed-box">

    <div class="pull-right social-action dropdown">
        <button class="dropdown-toggle btn-white" data-toggle="dropdown">
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu m-t-xs">
            <li><a href="#">Config</a></li>
        </ul>
    </div>
    <div class="social-avatar">
        <a class="pull-left" href="">
            <img src="img/a1.jpg" alt="image">
        </a>
        <div class="media-body">
            <a href="#">
                Andrew Williams
            </a>
            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
        </div>
    </div>
    <div class="social-body">
        <p>
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still
            in their infancy. Packages and web page editors now use Lorem Ipsum as their
            default model text.
        </p>

        <div class="btn-group">
            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
        </div>
    </div>
    <div class="social-footer">
        <div class="social-comment">
            <a class="pull-left" href="">
                <img src="img/a1.jpg" alt="image">
            </a>
            <div class="media-body">
                <a href="#">
                    Andrew Williams
                </a>
                Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                <br>
                <a class="small" href="#"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                <small class="text-muted">12.06.2014</small>
            </div>
        </div>

        <div class="social-comment">
            <a class="pull-left" href="">
                <img src="img/a2.jpg" alt="image">
            </a>
            <div class="media-body">
                <a href="#">
                    Andrew Williams
                </a>
                Making this the first true generator on the Internet. It uses a dictionary of.
                <br>
                <a class="small" href="#"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                <small class="text-muted">10.07.2014</small>
            </div>
        </div>

        <div class="social-comment">
            <a class="pull-left" href="">
                <img src="img/a3.jpg" alt="image">
            </a>
            <div class="media-body">
                <textarea placeholder="Write comment..." class="form-control"></textarea>
            </div>
        </div>

    </div>

</div>

<div class="social-feed-box">

    <div class="pull-right social-action dropdown">
        <button class="dropdown-toggle btn-white" data-toggle="dropdown">
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu m-t-xs">
            <li><a href="#">Config</a></li>
        </ul>
    </div>
    <div class="social-avatar">
        <a class="pull-left" href="">
            <img src="img/a6.jpg" alt="image">
        </a>
        <div class="media-body">
            <a href="#">
                Andrew Williams
            </a>
            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
        </div>
    </div>
    <div class="social-body">
        <p>
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still
            in their infancy. Packages and web page editors now use Lorem Ipsum as their
            default model text.
        </p>
        <p>
            Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still
            in their infancy. Packages and web page editors now use Lorem Ipsum as their
            default model text.
        </p>
        <img class="img-responsive" src="img/gallery/11.jpg">
        <div class="btn-group">
            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
        </div>
    </div>
    <div class="social-footer">
        <div class="social-comment">
            <a class="pull-left" href="">
                <img src="img/a1.jpg" alt="image">
            </a>
            <div class="media-body">
                <a href="#">
                    Andrew Williams
                </a>
                Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                <br>
                <a class="small" href="#"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                <small class="text-muted">12.06.2014</small>
            </div>
        </div>

        <div class="social-comment">
            <a class="pull-left" href="">
                <img src="img/a2.jpg" alt="image">
            </a>
            <div class="media-body">
                <a href="#">
                    Andrew Williams
                </a>
                Making this the first true generator on the Internet. It uses a dictionary of.
                <br>
                <a class="small" href="#"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                <small class="text-muted">10.07.2014</small>
            </div>
        </div>

        <div class="social-comment">
            <a class="pull-left" href="">
                <img src="img/a8.jpg" alt="image">
            </a>
            <div class="media-body">
                <a href="#">
                    Andrew Williams
                </a>
                Making this the first true generator on the Internet. It uses a dictionary of.
                <br>
                <a class="small" href="#"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                <small class="text-muted">10.07.2014</small>
            </div>
        </div>

        <div class="social-comment">
            <a class="pull-left" href="">
                <img src="img/a3.jpg" alt="image">
            </a>
            <div class="media-body">
                <textarea placeholder="Write comment..." class="form-control"></textarea>
            </div>
        </div>

    </div>

</div>

<div class="social-feed-box">

    <div class="pull-right social-action dropdown">
        <button class="dropdown-toggle btn-white" data-toggle="dropdown">
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu m-t-xs">
            <li><a href="#">Config</a></li>
        </ul>
    </div>
    <div class="social-avatar">
        <a class="pull-left" href="">
            <img src="img/a4.jpg" alt="image">
        </a>
        <div class="media-body">
            <a href="#">
                Andrew Williams
            </a>
            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
        </div>
    </div>
    <div class="social-body">
        <p>
            Packages and web page editors now use Lorem Ipsum as their
            default model text. Page editors now use Lorem Ipsum as their
            default model text.
        </p>
        <div class="btn-group">
            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
        </div>
    </div>
    <div class="social-footer">


        <div class="social-comment">
            <a class="pull-left" href="">
                <img src="img/a8.jpg" alt="image">
            </a>
            <div class="media-body">
                <a href="#">
                    Andrew Williams
                </a>
                Making this the first true generator on the Internet. It uses a dictionary of.
                <br>
                <a class="small" href="#"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                <small class="text-muted">10.07.2014</small>
            </div>
        </div>

        <div class="social-comment">
            <a class="pull-left" href="">
                <img src="img/a3.jpg" alt="image">
            </a>
            <div class="media-body">
                <textarea placeholder="Write comment..." class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>

</div>
<div class="col-lg-2">
    <div class="wrapper wrapper-content project-manager" style="padding:0px !important">
        <h4>Project description</h4>
        <img class="img-responsive" src="img/zender_logo.png">
        <p class="small">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
            even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
        </p>
        <p class="small font-bold">
            <span><i class="fa fa-circle text-warning"></i> High priority</span>
        </p>
        <h5>Project tag</h5>
        <ul style="padding: 0" class="tag-list">
            <li><a href=""><i class="fa fa-tag"></i> Zender</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Passages</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Variations</a></li>
        </ul>
        <h5>Project files</h5>
        <ul class="list-unstyled project-files">
            <li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>
            <li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>
            <li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
            <li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>
        </ul>
        <div class="text-center m-t-md">
            <a class="btn btn-xs btn-primary" href="#">Add files</a>
            <a class="btn btn-xs btn-primary" href="#">Report contact</a>

        </div>
    </div>